.log {
    background-color: #000000;
    height: 300px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;

    pre {
        margin: 0;
        padding: 0;
    }

    a {
        color: $col-text;
        margin-right: auto;

        &:hover {
            color: darken($col-text, 20%);
        }
    }
}

.log.hidden {
    display: none;
    height: 0;
    transform: translateY(-100%);
}


