$icon-dim: 1.5em;

.ico {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: $icon-dim;
    width: $icon-dim;
    height: $icon-dim;
    border-radius: 5px;
    vertical-align: -0.4em;
}

.ico-firebase {
    background-image: url(img/icons/firebase.png);
}
.ico-redux {
    background-image: url(img/icons/redux.png);
}
.ico-typescript {
    background-image: url(img/icons/typescript.png);
}
.ico-threejs {
    background-image: url(img/icons/threejs.png);
}
.ico-nunjucks {
    background-image: url(img/icons/nunjucks.png);
}
.ico-live {
    background-image: url(img/icons/live.png);
}
.ico-download {
    background-image: url(img/icons/download.png);
}
.ico-curse {
    background-image: url(img/icons/curse.png);
}
.ico-github {
    background-image: url(img/icons/github.png);
}
.ico-bootstrap {
    background-image: url(img/icons/bootstrap.png);
}
.ico-csharp {
    background-image: url(img/icons/csharp.png);
}
.ico-css {
    background-image: url(img/icons/css.png);
}
.ico-discord {
    background-image: url(img/icons/discord.png);
}
.ico-django {
    background-image: url(img/icons/django.png);
}
.ico-html5 {
    background-image: url(img/icons/html5.png);
}
.ico-javascript {
    background-image: url(img/icons/javascript.png);
}
.ico-lua {
    background-image: url(img/icons/lua.png);
}
.ico-monogame {
    background-image: url(img/icons/monogame.png);
}
.ico-nodejs {
    background-image: url(img/icons/nodejs.png);
}
.ico-python {
    background-image: url(img/icons/python.png);
}
.ico-react {
    background-image: url(img/icons/react.png);
}
.ico-reddit {
    background-image: url(img/icons/reddit.png);
}
.ico-sass {
    background-image: url(img/icons/sass.png);
}
.ico-unity {
    background-image: url(img/icons/unity.png);
}
.ico-wow {
    background-image: url(img/icons/wow.png);
}
.ico-xna {
    background-image: url(img/icons/xna.png);
}
.ico-flask {
    background-image: url(img/icons/flask.png);
}
.ico-runescape {
    background-image: url(img/icons/osrs.png);
}
.ico-java {
    background-image: url(img/icons/java.png);
}
.ico-engineering {
    background-image: url(img/icons/engineering.png);
}
.ico-database {
    background-image: url(img/icons/database.png);
}
.ico-mysql {
    background-image: url(img/icons/mysql.png);
}
.ico-c {
    background-image: url(img/icons/c.png);
}
.ico-datastructures {
    background-image: url(img/icons/datastructures.png);
}
.ico-networking {
    background-image: url(img/icons/networking.png);
}
.ico-opengl {
    background-image: url(img/icons/opengl.png);
}
.ico-3dgraphics {
    background-image: url(img/icons/3dgraphics.png);
}
.ico-3danimations {
    background-image: url(img/icons/3dgraphics.png);
}
.ico-statistics {
    background-image: url(img/icons/statistics.png);
}
.ico-datascience {
    background-image: url(img/icons/datastructures.png);
}
.ico-excel {
    background-image: url(img/icons/excel.png);
}
.ico-sqlserver {
    background-image: url(img/icons/sqlserver.png);
}
.ico-datamining {
    background-image: url(img/icons/datamining.png);
}
.ico-webdevelopment {
    background-image: url(img/icons/webdevelopment.png);
}
.ico-maths {
    background-image: url(img/icons/maths.png);
}
.ico-science {
    background-image: url(img/icons/chemistry.png);
}
.ico-physics {
    background-image: url(img/icons/chemistry.png);
}
.ico-chemistry {
    background-image: url(img/icons/chemistry.png);
}
.ico-english {
    background-image: url(img/icons/writing.png);
}
.ico-writing {
    background-image: url(img/icons/writing.png);
}
.ico-essays {
    background-image: url(img/icons/writing.png);
}
.ico-cpp {
    background-image: url(img/icons/cpp.png);
}
.ico-matlab {
    background-image: url(img/icons/matlab.png);
}
