$card-width: 320px;
$card-height: 400px;
$bg-opacity: 0.99;
$col-bg-alpha: rgba($col-background, $bg-opacity);

.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    margin: auto;

    .project {
        position: relative;
        padding: 0;
        margin: 10px;
        width: $card-width;
        height: $card-height;
        border-radius: 10px;
        background-color: darken($col-body-back, 5%);
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
        overflow: hidden;

        .background {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 0;
            margin: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    
        .content {
            position: absolute;
            width: 100%;
            height: 100%;

            .title {
                display: inline-block;
                margin: 10px;

                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 2.5rem;

                    line-height: 1.8em;
                    font-size: 1.7em;

                    span {
                        padding: 0.2em;
                        background-color: $col-bg-alpha;
                        box-decoration-break: clone;
                        border: 1px solid white;
                    }
                }
            }

            .description {
                position: absolute;
                background-color: $col-bg-alpha;
                padding: 10px;
                transform: translateY(100%);
                bottom: 0;
                transition: transform 0.3s;
                border-top: 1px solid white;

                p {
                    margin: 5px 5px 10px 5px;
                }

                .links {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            &:hover > .description {
                transform: translateY(0%);
            }
        }
    }
}
