{% import "macros/_button.njk" as button %}

{% macro new(project) %}
<div class="project" id="proj-{{ project.slug }}" data-categories="{{ project.categories }}">
    <img class="background" draggable="false" src="{{ project.header }}">
    <div class="content">
        <div class="title">
            <h2><span>{{ project.name }}</span></h2>
        </div>
        <div class="description">
            <p>{{ project.description }}</p>
            <div class="links">
                {% for link in project.links %}
                    {{ button.new(link.text, link.icon, link.href) }}
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{% endmacro %}