{% import "macros/_button.njk" as button %}

{% macro new(project, category, count, countWord, countColour) %}
<div class="project" id="proj-{{ project.slug }}-{{ category }}" data-categories="{{ project.categories }}">
    {% if project.header %}
        <img class="background" alt="header for {{ project.name }}" draggable="false" src="{{ project.header }}">
    {% endif %}
    {% if project.iframe %}
        <iframe class="project-iframe" src="{{ project.iframe }}"></iframe>
        <div class="iframe-hover-trigger content-trigger button">
            <span class="ico ico-info"></span>
        </div>
    <div class="content">
    {% else %}
    <div class="content content-trigger">
    {% endif %}
        {% if project.name %}
            <div class="title">
                <h2><span>{{ project.name }}</span></h2>
            </div>
        {% endif %}
        <div class="description">
            {% if count %}
                <p style="color: {{ countColour }}">{{ count.toLocaleString() }}+ {{ countWord }}</p>
            {% endif %}
            <div class="tech-tags">
                {% for tech in project.tech %}
                    <span class="tech-tag ico ico-{{ tech.toLowerCase() }}">
                        <span class="tech-name-wrapper">
                            <span class="tech-name">{{ tech }}</span>
                        </span>
                    </span>
                {% endfor %}
            </div>
            <p>{{ project.description }}</p>
            <div class="links">
                {% for link in project.links %}
                    {{ button.new(link.text, link.icon, link.href) }}
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{% endmacro %}