<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Tim Ings" />
    <meta property="og:site_name" content="tim-ings.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Portfolio. Resume. GitHub. Computer/Data Scientist. Perth WA." />
    <meta property="og:url" content="https://tim-ings.com" />
    <meta property="og:image" content="https://tim-ings.com/img/tim-ings-banner.png" />
    <link rel="stylesheet" type="text/css" href="./styles.css">
    {% block head %}
        <title>Portfolio</title>
    {% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>