{% extends "_layout.njk" %}
{% import "macros/_project.njk" as project %}

{% block head %}
<title>maxine4j</title>
{% endblock %}

{% block content %}
    <div id="log" class="log hidden"></div>
    <div class="page-title">
        <h1 class="typewriter">maxine4j $&nbsp;<input id="cmd" type="text" maxlength="128" autocomplete="off" autocapitalize="off" spellcheck="false" aria-label="Command box" /></h1>
    </div>
    <br />
    <br />
    <br />
    <br />

    <h2 class="category-header" id="featured">Featured</h2>
    <div class="project-container">
        {% for proj in data.categories.featured %}
            {{ project.new(proj, 'featured') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />

    <h2 class="category-header" id="projects">Projects</h2>
    <div class="project-container">
        {% for proj in data.categories.remaining %}
            {{ project.new(proj, 'projects') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />
{% endblock %}

{% block scripts %}
<script src="./commandBox.js"></script>
{% endblock %}