{% extends "_layout.njk" %}
{% import "macros/_project.njk" as project %}

{% block head %}
<title>Tim Ings</title>
{% endblock %}

{% block content %}
    <div id="log" class="log hidden"></div>
    <div class="page-title">
        <h1 class="typewriter">tim-ings $&nbsp;<input id="cmd" type="text" maxlength="128" autocomplete="off" autocapitalize="off" spellcheck="false" /></h1>
        <div class="links">
            <a href="github.com/tim-ings">github</a>
            <a href="mailto:tim@tim-ings.com">tim@tim-ings.com</a>
            <a href="tel:0406840009">0406 840 009</a>
            <a href="./content/tim-ings-resume.pdf">resume.pdf</a>
            <a href="./content/tim-ings-resume.docx">resume.docx</a>
        </div>
    </div>

    <h2 class="category-header" id="featured">Featured</h2>
    <div class="project-container">
        {% for proj in data.categories.featured %}
            {{ project.new(proj, 'featured') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />

    <h2 class="category-header" id="websites">Websites</h2>
    <div class="project-container">
        {% for proj in data.categories.websites %}
            {{ project.new(proj, 'websites') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />

    <h2 class="category-header" id="games">Games</h2>
    <div class="project-container">
        {% for proj in data.categories.games %}
            {{ project.new(proj, 'games') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />

    <h2 class="category-header" id="programs">Programs</h2>
    <div class="project-container">
        {% for proj in data.categories.programs %}
            {{ project.new(proj, 'programs') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />

    <h2 class="category-header" id="addons">AddOns</h2>
    <div class="project-container">
        {% for proj in data.categories.addons %}
            {{ project.new(proj, 'addons') }}
        {% else %}
            <h1>NO PROJECT DATA</h1>
        {% endfor %}
    </div>
    <hr />
{% endblock %}

{% block scripts %}
<script src="./commandBox.js"></script>
{% endblock %}